* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
@import "./variables";
@import "./header.scss";
@import "./main.scss";
@import "./offcanvasGroup.scss";
@import "./offcanvasAddContacts.scss";

html,
body {
    font-family: "Arial", cursive;
    font-weight: 400;
}

.containers {
    // padding: 0 15px;
    // margin: auto;
    position: relative;
    z-index: 50;
    background-color: #dfd8d8;
}
button {
    display: block;
    cursor: pointer;
    border: none;
}
input {
    border: none;
}
ul{

}
